﻿* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: rgb(255,185,209);
}

    #container div {
        position: absolute;
        width: 100%;
        height: 100%;
    }

        #container div .sections {
            position: relative;
        }

            #container div .sections .section {
                position: relative;
                float: left;
            }

                #container div .sections .section .full-img {
                    width: 100%;
                    height: 100%;
                }



                #container div .sections .section .hand-img {
                    position: absolute;
                    z-index: 5;
                    width: 35px;
                    margin: auto;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                }

                #container div .sections .section .warn-img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }

                #container div .sections .section .flash {
                    animation: show 0.5s ease-in-out 0s infinite alternate;
                    -webkit-animation: show 0.5s ease-in-out 0s infinite alternate;
                }

                #container div .sections .section .updown {
                    animation: updown 0.5s ease-in-out 0s infinite alternate;
                    -webkit-animation: updown 0.5s ease-in-out 0s infinite alternate;
                }



@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes updown {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(100px);
    }
}

@-webkit-keyframes updown {
    0% {
        -webkit-transform: translateY(-100px);
    }

    100% {
        -webkit-transform: translateY(100px);
    }
}
